<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link
			href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap"
			rel="stylesheet"
		/>

		<script src="./vue.js"></script>
		<link rel="stylesheet" href="./style.css" />

		<title>Techno</title>
	</head>
	<body>
		<div id="app">
			<section @click="closeModal" class="modal" v-if="product">
				<div class="modal-container">
					<div class="modal-img">
						<img :src="product.image" :alt="product.name" />
					</div>
					<div class="modal-data">
						<button @click="product = false" class="modal-close">X</button>
						<span class="modal-price">{{ product.price }}</span>
						<h2 class="modal-title">{{ product.name }}</h2>
						<p class="modal-description">{{ product.description }}</p>
						<button class="modal-btn">Add to Cart</button>
					</div>
					<div class="reviews">
						<h2 class="reviews-subtitle">Reviews</h2>
						<ul>
							<li v-for="review in product.reviews" class="review">
								<p class="review-description">{{ review.description }}</p>
								<p class="review-customer">
									{{ review.name }} | {{ review.rating }} stars
								</p>
							</li>
						</ul>
					</div>
				</div>
			</section>

			<section class="products">
				<div
					v-for="item in products"
					@click="openModal(item.id)"
					:key="item.id"
					class="product"
				>
					<img :src="item.image" :alt="item.name" class="product-img" />
					<div class="product-info">
						<span class="product-price">{{ item.price | formatPrice}}</span>
						<h2 class="product-title">{{ item.name }}</h2>
					</div>
				</div>
			</section>
		</div>

		<script src="./app.js"></script>
	</body>
</html>
